.menu{
    display: flex;
    justify-content: space-between;
    background-color:#005341;
    padding: 15px;
    font-size: 30px;
    font-family: Kristen ITC;
    font-weight: 400;
    color: #ffe600;
}
body{
    margin: 0px;
    /* modify background color here*/
    background-color:#007fe7;
    
}

a{
    text-decoration: none;
}

.bodyimg p{
font-family:Algerian;
    font-size: 40px;
}

.bodyimg h3{
    font-family:Chiller;
    font-size: 40px;

    color:#ffffff;
    width: 1100px;
    position: absolute;
    top:40%;
    left:80%;
    transform: translate(-90%, -70%);
}

.grid{
    display: flex;
    flex-wrap: wrap;
    /* justify-content:l; */
    margin: 40px;
    font-family:cursive;
    
}
.grid img{
    border: 2px solid #ff2c2c;
    border-radius: 20px;
}

.origami {
    font-family:cursive;
font-size: 25px;
    display: flex;
    flex-wrap: wrap;
    background-color: #b35600;
    border-radius: 20px;
    padding: 20px;
    margin: 25px;
    width:310px;

}

a:link{
    color: #ae00ff;

}
a:visited{
    color: #00ff37;
}


.origami{
    position:relative
    
}
.origami h3{
    position:absolute;
top: 10%;
left: 50%;
transform: translate(-50%,-50%);
opacity: 0;

}

.origami img{
    position: absolute;
    top: 37%;
left: 50%;
transform: translate(-50%,-170%);
}

.origami:hover h3{
opacity: 1;
}

.origami:hover img{
opacity: 0.33;
}